/* This file is for your main application css. */

.btn-sync-droplet {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    line-height: 1.5;
}

.droplet-status {
    min-height: 20px;
    max-width: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: grey;
}

.active {
    min-height: 20px;
    max-width: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: green;
}

.inactive {
    min-height: 20px;
    max-width: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: red;
}
