/* This file is for your main application css. */

.btn-sync-droplet {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    line-height: 1.5;
    padding-top: 3px;
}

.droplet-status {
    background-color: grey;
    border: 1px solid #ccc;
    border-radius: 50%;
    max-width: 20px;
    min-height: 20px;    
}

.active {
    background-color: green;
    border: 1px solid #ccc;
    border-radius: 50%;
    max-width: 20px;
    min-height: 20px;    
}

.inactive {
    background-color: red;
    border: 1px solid #ccc;
    border-radius: 50%;
    max-width: 20px;
    min-height: 20px;    
}
